#used in server role

[Unit]
Description=NetSword

[Service]
Type=simple
EnvironmentFile=-/root/NetSword/service.cfg
WorkingDirectory=/root/NetSword
ExecStart=/bin/bash /root/NetSword/service.sh
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
